<!--投稿編集画面-->
<h1>Editing Book</h1>

<!--バリデーションによる空白チェック-->
<% if @book.errors.any? %>
 <h3><%= @book.errors.count %> errors prohibited this book from being saved:</h3>
     <ul>
         <% @book.errors.full_messages.each do |message| %>
         <li><%= message %></li>
         <% end %>
    </ul>
<% end %>


<%= form_with model: @book,url: update_book_path(@book.id),method: :patch,local:true do |f| %>
<!--本のタイトルの編集-->
<div class=field>
  <%= f.label :Title %>
  <%= f.text_field :title%>
</div>
<!--本の感想の編集-->
<div class=field>
  <%= f.label :Body %>
  <%= f.text_field :body%>
</div>
<!--投稿内容の更新-->
<%= f.submit "Update Book" %>
<% end %>

<p><%= link_to "Show",book_path %> | <%= link_to "Back",books_path %></p>


